@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@100;200;400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    padding-top: 100px;

}

.preview-card{
    margin-top: 30px;
    display: flex;
    background-color: hsl(277, 64%, 61%);
    border-radius: 8px;
    width: 900px;
    height: 400px;
    color: hsl(0, 0%, 100%);
}

.card-content{
    background-color: hsl(244, 38%, 16%);
    padding: 50px;
    display: flex;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    display: flex;
    justify-content: flex-start;
    font-family: Inter;
}

.purple{
    display: flex;
    margin: 0 8px;
    color: hsl(277, 64%, 61%);
}

.description{
    font-family: Inter;
    font-size: 0.8em;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.75);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li .number{
    font-family: Inter;
    font-size: 1.3em;
    font-weight: 700;
}

li .legend{
    text-transform: uppercase;
    font-family: Inter;
    font-size: 0.7em;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.6);
}

.img{
    height: 100%;
    background-size: cover;
    background-image: url(images/image-header-desktop.jpg);
    opacity:0.7;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


@media screen and (max-width : 500px){
    *{
        border-radius: none;
    }

    .preview-card{
        flex-direction: column-reverse;
        width: 70%;
        height: auto;
    }

    .img{
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    ul{
        flex-direction: column;
        justify-content: space-around;
    }

    .title{
        text-align: center;
        padding: 10px;
    }

    .card-content{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .description{
        margin: 20px;
    }

    li{
        margin: 15px;
    }
}